.App {
  text-align: center;
}

.code-image {
  width: 60%;
}

.voice-over-image {
  width: 50%;
}

.controllers {
  margin: 2em 0;
}

.controller {
  margin: 0.5em;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-listitem {
  list-style: none;
  margin: 0.5em;
}